apiVersion: v1
kind: ConfigMap
metadata:
  name: collector-config
  labels:
    app: collector
data:
  collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc: {}
          http: {}

    connectors:
      spanmetrics:
        dimensions:
          - name: hotrod_namespace
          - name: hotrod_pod_name
          - name: hotrod_pod_hash

    exporters:
      debug:
        verbosity: detailed

      otlp:
        endpoint: jaeger-collector.jaeger.svc.cluster.local:4317
        tls:
          insecure: true

      prometheus:
        endpoint: "0.0.0.0:8889"

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [debug, otlp, spanmetrics]

        metrics:
          receivers: [spanmetrics]
          exporters: [prometheus, debug]